* {
  margin: 0;
  padding: 0;
  font-family: __Oswald_b42c86,__Oswald_Fallback_b42c86;
  font-style: none;
  box-sizing: border-box;
  font-weight: 800;
}

body {
  background: rgb(255, 255, 255);
  background-image: url('background3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /*color: rgb(255, 255, 255); */
  color: rgb(228 228 231);
}

#header {
  max-width: 1000px;
  margin: -5px auto;
  height: auto;
  padding: 20px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background-color: rgba(224, 215, 255, 0.723);*/
  background-color: rgba(104, 98, 125, 0.945);
  border: 2px solid rgb(145, 145, 255);
  border-radius: 5px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  font-size: 24px;
  position: relative;
  display: inline-block;
}

.logo a {
  color: rgb(228 228 231);
  text-decoration: none;
}

.initials {
  transition: opacity 0.5s ease-in;
}

.full-name {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap; /* Prevents text from wrapping */
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.logo:hover .initials {
  opacity: 0;
}

.logo:hover .full-name {
  opacity: 1;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;

}

nav ul li {
  margin: 10px;
  max-width: fit-content;
}

nav ul li a {
  text-align-last: center;
  max-width: max-content;
  display: inline-block;
  /* color: rgb(255, 255, 255); */  
  color: rgb(228 228 231);
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;  width: 200px;
}

nav ul li a:hover {
  /* color: rgb(39, 40, 68); */
  /* color: rgb(137, 139, 255); */
  font-size: 18px;
  text-decoration: underline; /* Underline links on hover */
}

.desc-text {
  max-width: 1000px;
  margin: 125px auto;
  padding: 20px; 
  border-radius: 5px;
  background-color: rgba(224, 215, 255, 0.39);
}

.desc-text h1{
  font-size: 36px;
  margin: 0px auto;
}

.desc-text p {
  max-width: 500px;
  font-size: 18px;
  margin-top: 20px;
}

.desc-text a {
  margin: 15px; 
  margin-top: 20px;
}

.desc-text img {
  margin-top: 20px;
  width: 50px; 
}

.projects-text {
  max-width: 1000px;
  margin: 125px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(224, 215, 255, 0.39);
}

.projects-text h1 {
  font-size: 36px;
  margin: 0px auto;
}

.projects-text p {
  max-width: max-content;
  font-size: 18px;
  margin-top: 20px;
}

.projects-text li {
  max-width: max-content;
  margin-top: 20px;

  list-style: none;
  align-items: end;
}

.projects-text li a {
  display: inline-block;
  padding: 10px 10px; 
  color: rgb(255, 255, 255);
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.projects-text li a:hover {
  background-color: rgb(137, 139, 255);
  border: 2px solid rgb(137, 139, 255);
  border-radius: 5px;
  color: rgb(39, 40, 68);
}



/* new css */



.featured-work-text {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(224, 215, 255, 0.39);
}

.featured-work-text h1 {
  font-size: 36px;
  margin: 0 auto;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

.project-one {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  height: 275px;
  width: 100%;
  cursor: pointer;
}

.project-one img {
  width:30%;
  height: auto;
  transition: transform 0.3s ease;
  position: relative;
}

.project-one:hover img {
  transform: scale(1.05);
  opacity: 0.5;
}

.project-one::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(2, 2, 49); 
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.project-one:hover::before {
  opacity: 1; /* Show the blue tint when hovering */
}

.project-one h3 {
  position: absolute;
  font-size: 20pt;
  font-weight: 900;
  top: 15px; 
  left: 20px; 
  margin: 0;
  opacity: 0;
  transition: opacity 0.3 ease;
}

.project-one:hover h3 {
  opacity: 1;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

.project-two {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  height: 275px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-two img {
  width:30%;
  height: auto;
  transition: transform 0.3s ease;
  position: relative;
}

.project-two:hover img {
  transform: scale(1.05);
  opacity: 0.5;
}

.project-two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(2, 2, 49); 
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.project-two:hover::before {
  opacity: 1; /* Show the blue tint when hovering */
}

.project-two h3 {
  position: absolute;
  font-size: 20pt;
  font-weight: 900;
  top: 15px; 
  left: 20px; 
  margin: 0;
  opacity: 0;
  transition: opacity 0.3 ease;
}

.project-two:hover h3 {
  opacity: 1;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

.project-three {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  height: 275px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-three img {
  width:30%;
  height: auto;
  transition: transform 0.3s ease;
  position: relative;
}

.project-three:hover img {
  transform: scale(1.05);
  opacity: 0.5;
}

.project-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(2, 2, 49); 
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.project-three:hover::before {
  opacity: 1; /* Show the blue tint when hovering */
}

.project-three h3 {
  position: absolute;
  font-size: 20pt;
  font-weight: 900;
  top: 15px; 
  left: 20px; 
  margin: 0;
  opacity: 0;
  transition: opacity 0.3 ease;
}

.project-three:hover h3 {
  opacity: 1;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

.project-four {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  height: 275px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-four img {
  width:30%;
  height: auto;
  transition: transform 0.3s ease;
  position: relative;
}

.project-four:hover img {
  transform: scale(1.05);
  opacity: 0.5;
}

.project-four::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(2, 2, 49); 
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease;
}

.project-four:hover::before {
  opacity: 1; /* Show the blue tint when hovering */
}

.project-four h3 {
  position: absolute;
  font-size: 20pt;
  font-weight: 900;
  top: 15px; 
  left: 20px; 
  margin: 0;
  opacity: 0;
  transition: opacity 0.3 ease;
}

.project-four:hover h3 {
  opacity: 1;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.5); 

}

/* Modal Content/Box */
.modal-content {
  background-color: #fff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 50%; /* Could be more or less, depending on screen size */
  color: rgb(2, 2, 49);
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 23px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: rgb(2,2,49);
  text-decoration: none;
  cursor: pointer;
}

/* end new css */




.contact-text {
  max-width: 1000px;
  margin: 125px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(224, 215, 255, 0.39);
}

.contact-text h1 {
  font-size: 36px;
  margin: 0px auto;
}

.contact-text p {
  max-width: max-content;
  font-size: 18px;
  margin-top: 20px;
}

.contact-text li {
  max-width: max-content;
  margin-top: 20px;

  list-style: none;
  align-items: end;
}

.contact-text li a {
  display: inline-block;
  padding: 10px 10px; 
  color: rgb(255, 255, 255);
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-text li a:hover {
  background-color: rgb(137, 139, 255);
  border: 2px solid rgb(137, 139, 255);
  border-radius: 5px;
    color: rgb(39, 40, 68);
}

footer {
  max-width: 1000px;
  margin: 0px auto;
  padding: 5px; /* Padding around content */
  text-align: center; /* Center align text */
}

footer p { 
  font-weight: bold;
}

footer a {
  text-decoration: none; /* Remove underline from links */
  margin: 0 5px; /* Add spacing between links */
  color: rgb(228 228 231);
}

footer a:hover {
  text-decoration: underline; /* Underline links on hover */
}