* {
  margin: 0;
  padding: 0;
  font-family: __Oswald_b42c86,__Oswald_Fallback_b42c86;
  font-style: none;
  box-sizing: border-box;
  font-weight: 800;
}

body {
  background: rgb(255, 255, 255);
  background-image: url('background3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /*color: rgb(255, 255, 255); */
  color: rgb(228 228 231);
}

#header {
  max-width: 1000px;
  margin: -5px auto;
  height: auto;
  padding: 20px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background-color: rgba(224, 215, 255, 0.723);*/
  background-color: rgba(104, 98, 125, 0.945);
  border: 2px solid rgb(145, 145, 255);
  border-radius: 5px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  font-size: 24px;
  position: relative;
  display: inline-block;
}

.logo a {
  color: rgb(228 228 231);
  text-decoration: none;
}

.initials {
  transition: opacity 0.5s ease-in;
}

.full-name {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap; /* Prevents text from wrapping */
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.logo:hover .initials {
  opacity: 0;
}

.logo:hover .full-name {
  opacity: 1;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;

}

nav ul li {
  margin: 10px;
  max-width: fit-content;
}

nav ul li a {
  text-align-last: center;
  max-width: max-content;
  display: inline-block;
  /* color: rgb(255, 255, 255); */  
  color: rgb(228 228 231);
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;  width: 200px;
}

nav ul li a:hover {
  /* color: rgb(39, 40, 68); */
  /* color: rgb(137, 139, 255); */
  font-size: 18px;
  text-decoration: underline; /* Underline links on hover */
}

.desc-text {
  max-width: 1000px;
  margin: 125px auto;
  padding: 20px; 
  border-radius: 5px;
  background-color: rgba(224, 215, 255, 0.39);
}

.desc-text h1{
  font-size: 36px;
  margin: 0px auto;
}

.desc-text p {
  max-width: 500px;
  font-size: 18px;
  margin-top: 20px;
}

.desc-text a {
  margin: 15px; 
  margin-top: 20px;
}

.desc-text img {
  margin-top: 20px;
  width: 50px; 
}

.projects-text {
  max-width: 1000px;
  margin: 125px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(224, 215, 255, 0.39);
}

.projects-text h1 {
  font-size: 36px;
  margin: 0px auto;
}

.projects-text p {
  max-width: max-content;
  font-size: 18px;
  margin-top: 20px;
}

.projects-text li {
  max-width: max-content;
  margin-top: 20px;

  list-style: none;
  align-items: end;
}

.projects-text li a {
  display: inline-block;
  padding: 10px 10px; 
  color: rgb(255, 255, 255);
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.projects-text li a:hover {
  background-color: rgb(137, 139, 255);
  border: 2px solid rgb(137, 139, 255);
  border-radius: 5px;
  color: rgb(39, 40, 68);
}
/* new css 

.projects-text {
  max-width: 1000px;
  margin: 125px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(224, 215, 255, 0.39);
}

.projects-text h1 {
  font-size: 36px;
  margin: 0 auto;
  text-align: center;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.project {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project img {
  width: 100%;
  height: auto;
}

.project h3 {
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
}

.project p {
  font-size: 16px;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

end new css */

.contact-text {
  max-width: 1000px;
  margin: 125px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(224, 215, 255, 0.39);
}

.contact-text h1 {
  font-size: 36px;
  margin: 0px auto;
}

.contact-text p {
  max-width: max-content;
  font-size: 18px;
  margin-top: 20px;
}

.contact-text li {
  max-width: max-content;
  margin-top: 20px;

  list-style: none;
  align-items: end;
}

.contact-text li a {
  display: inline-block;
  padding: 10px 10px; 
  color: rgb(255, 255, 255);
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-text li a:hover {
  background-color: rgb(137, 139, 255);
  border: 2px solid rgb(137, 139, 255);
  border-radius: 5px;
    color: rgb(39, 40, 68);
}

footer {
  max-width: 1000px;
  margin: 0px auto;
  padding: 5px; /* Padding around content */
  text-align: center; /* Center align text */
}

footer p { 
  font-weight: bold;
}

footer a {
  text-decoration: none; /* Remove underline from links */
  margin: 0 5px; /* Add spacing between links */
  color: rgb(228 228 231);
}

footer a:hover {
  text-decoration: underline; /* Underline links on hover */
}