* {
  margin: 0;
  padding: 0;
  font-family: __Oswald_b42c86,__Oswald_Fallback_b42c86;
  font-style: none;
  box-sizing: border-box;
  font-weight: 800;
}

body {
  background: rgb(255, 255, 255);
  background-image: url('background3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  /*color: rgb(255, 255, 255); */
  color: rgb(228 228 231);
  max-width: 100%;
  height: auto;
}

#header {
  max-width: 1000px;
  margin: -5px auto;
  height: auto;
  padding: 20px; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background-color: rgba(224, 215, 255, 0.723);*/
  background-color: rgba(104, 98, 125, 0.945);
  border: 2px solid rgb(145, 145, 255);
  border-radius: 5px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  font-size: 24px;
  position: relative;
  display: inline-block;
}

.logo a {
  color: rgb(228 228 231);
  text-decoration: none;
}

.initials {
  transition: opacity 0.5s ease-in;
}

.full-name {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.logo:hover .initials {
  opacity: 0;
}

.logo:hover .full-name {
  opacity: 1;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;

}

nav ul li {
  margin: 10px;
  max-width: fit-content;
}

nav ul li a {
  text-align-last: center;
  max-width: max-content;
  display: inline-block;
  /* color: rgb(255, 255, 255); */  
  color: rgb(228 228 231);
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;  width: 200px;
}

nav ul li a:hover {
  /* color: rgb(39, 40, 68); */
  /* color: rgb(137, 139, 255); */
  color: rgb(137, 139, 255);
  font-size: 18px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

.desc-text {
  max-width: 1000px;
  margin: 125px auto;
  padding: 20px; 
  border-radius: 5px;
  background-color: rgba(224, 215, 255, 0.39);
}

.desc-text h1{
  font-size: 36px;
  margin: 0px auto;
}

.desc-text p {
  max-width: 500px;
  font-size: 18px;
  margin-top: 20px;
}

.desc-text a {
  margin: 15px; 
  margin-top: 20px;
}

.desc-text img {
  margin-top: 20px;
  width: 50px; 
  transition: filter 0.3s ease; 
}

.desc-text img:hover {
  filter: brightness(0) invert(0.9);
}

@media only screen and (max-width: 600px) {
  .desc-text h1 {
    font-size: 24px; /* Adjust the font size for smaller screens */
  }

  .desc-text p {
    font-size: 14px;
  }

  .desc-text li a {
    padding: 5px 10px; /* Decrease padding for smaller screens */
    font-size: 14px; /* Decrease font size for smaller screens */
  }

  .desc-text img {
    width: 30px;
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

.featured-work {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(224, 215, 255, 0.39);
}

.featured-work-text {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.featured-work-text h1 {
  font-size: 36px;
  margin: 0; 
}

.featured-work-text ul {
  list-style: none; 
}

.featured-work-text li {
  display: inline-block;
}

.featured-work-text li a {
  padding: 10px 20px; 
  color: rgb(255, 255, 255);
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.featured-work-text li a:hover {
  background-color: rgb(2, 2, 49);
  border: 2px solid rgb(137, 139, 255);
  border-radius: 5px;
  color: rgb(228 228 231);
}

@media only screen and (max-width: 600px) {
  .featured-work-text h1 {
    font-size: 24px; /* Adjust the font size for smaller screens */
  }

  .featured-work-text li a {
    padding: 5px 10px; /* Decrease padding for smaller screens */
    font-size: 14px; /* Decrease font size for smaller screens */
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

.project-one {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  height: 275px;
  width: 100%;
  cursor: pointer;
}

.project-one img {
  width:30%;
  height: auto;
  transition: transform 0.3s ease;
  position: relative;
}

.project-one:hover img {
  transform: scale(1.05);
  opacity: 0.5;
}

.project-one::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(2, 2, 49);
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.project-one:hover::before {
  opacity: 1; 
}

.project-one h3 {
  position: absolute;
  font-size: 20pt;
  font-weight: 900;
  top: 15px; 
  left: 20px; 
  margin: 0;
  opacity: 0;
  transition: opacity 0.3 ease;
}

.project-one:hover h3 {
  opacity: 1;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

.project-two {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  height: 275px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.project-two img {
  width:30%;
  height: auto;
  transition: transform 0.3s ease;
  position: relative;
}

.project-two:hover img {
  transform: scale(1.05);
  opacity: 0.5;
}

.project-two::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(2, 2, 49); 
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.project-two:hover::before {
  opacity: 1; 
}

.project-two h3 {
  position: absolute;
  font-size: 20pt;
  font-weight: 900;
  top: 15px; 
  left: 20px; 
  margin: 0;
  opacity: 0;
  transition: opacity 0.3 ease;
}

.project-two:hover h3 {
  opacity: 1;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

.project-three {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  height: 275px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.project-three img {
  width:30%;
  height: auto;
  transition: transform 0.3s ease;
  position: relative;
}

.project-three:hover img {
  transform: scale(1.05);
  opacity: 0.5;
}

.project-three::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(2, 2, 49); 
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.project-three:hover::before {
  opacity: 1; 
}

.project-three h3 {
  position: absolute;
  font-size: 20pt;
  font-weight: 900;
  top: 15px; 
  left: 20px; 
  margin: 0;
  opacity: 0;
  transition: opacity 0.3 ease;
}

.project-three:hover h3 {
  opacity: 1;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

.project-four {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  height: 275px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.project-four img {
  width:30%;
  height: auto;
  transition: transform 0.3s ease;
  position: relative;
}

.project-four:hover img {
  transform: scale(1.05);
  opacity: 0.5;
}

.project-four::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(2, 2, 49); 
  opacity: 0; 
  transition: opacity 0.3s ease;
}

.project-four:hover::before {
  opacity: 1; 
}

.project-four h3 {
  position: absolute;
  font-size: 20pt;
  font-weight: 900;
  top: 15px; 
  left: 20px; 
  margin: 0;
  opacity: 0;
  transition: opacity 0.3 ease;
}

.project-four:hover h3 {
  opacity: 1;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

#myModal1 {
  display: none; 
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); 
}

#myModal1 .modal-content {
  background-color: #fff;
  margin: 15% auto; 
  padding: 20px;
  width: 50%; 
  color: rgb(2, 2, 49);
}

#myModal1 .close {
  color: #aaa;
  float: right;
  font-size: 23px;
  font-weight: bold;
}

#myModal1 .close:hover, #myModal1 .close:focus {
  color: rgb(2,2,49);
  text-decoration: none;
  cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

#myModal2 {
  display: none;
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); 
}

#myModal2 .modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 50%; 
  color: rgb(2, 2, 49);
}

#myModal2 .close {
  color: #aaa;
  float: right;
  font-size: 23px;
  font-weight: bold;
}

#myModal2 .close:hover, #myModal2 .close:focus {
  color: rgb(2,2,49);
  text-decoration: none;
  cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

#myModal3 {
  display: none; 
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); 
}

#myModal3 .modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 50%; 
  color: rgb(2, 2, 49);
}

#myModal3 .close {
  color: #aaa;
  float: right;
  font-size: 23px;
  font-weight: bold;
}

#myModal3 .close:hover, #myModal3 .close:focus {
  color: rgb(2,2,49);
  text-decoration: none;
  cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

#myModal4 {
  display: none; 
  position: fixed;
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5); 
}

#myModal4 .modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  width: 50%;
  color: rgb(2, 2, 49);
}

#myModal4 .close {
  color: #aaa;
  float: right;
  font-size: 23px;
  font-weight: bold;
}

#myModal4 .close:hover, #myModal4 .close:focus {
  color: rgb(2,2,49);
  text-decoration: none;
  cursor: pointer;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

.contact-text {
  max-width: 1000px;
  margin: 125px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(224, 215, 255, 0.39);
}

.contact-text h1 {
  font-size: 36px;
  margin: 0px auto;
}

.contact-text p {
  max-width: max-content;
  font-size: 18px;
  margin-top: 20px;
}

.contact-text li {
  max-width: max-content;
  margin-top: 20px;

  list-style: none;
  align-items: end;
}

.contact-text li a {
  display: inline-block;
  padding: 10px 10px; 
  color: rgb(255, 255, 255);
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-text li a:hover {
  background-color: rgb(2, 2, 49);
  border: 2px solid rgb(137, 139, 255);
  border-radius: 5px;
  color: rgb(228 228 231);
}

@media only screen and (max-width: 600px) {
  .contact-text h1 {
    font-size: 24px; /* Adjust the font size for smaller screens */
  }

  .contact-text p {
    font-size: 14px;
  }

  .contact-text li a {
    padding: 5px 10px; /* Decrease padding for smaller screens */
    font-size: 14px; /* Decrease font size for smaller screens */
  }
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------- */

footer {
  max-width: 1000px;
  margin: 0px auto;
  padding: 5px; 
  text-align: center;
}

footer p { 
  font-weight: bold;
  font-size: 18px;
}

footer a {
  text-decoration: none;
  margin: 0 5px;
  color: rgb(228 228 231);
  font-size: 16px;
  }

footer a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {

  footer p {
    font-size: 14px;
  }

  footer a {
    font-size: 12px;
  }
}